[submodule "agasson-pack/lib/sauron"]
	path = agasson-pack/lib/sauron
	url = https://github.com/djcb/sauron
[submodule "agasson-pack/lib/ctable"]
	path = agasson-pack/lib/ctable
	url = https://github.com/kiwanami/emacs-ctable
[submodule "agasson-pack/lib/express"]
	path = agasson-pack/lib/express
	url = https://github.com/rolandwalker/express
[submodule "agasson-pack/lib/org-helpers"]
	path = agasson-pack/lib/org-helpers
	url = https://github.com/leoc/org-helpers.el
